.droplit
  .row
    .pixel._0
    .pixel._3
    .pixel._6
    .pixel._9
    .pixel._12
    .pixel._15
    .pixel._18
    .pixel._21
    .pixel._24
    .pixel._27
    .pixel._30
    .pixel._33
    .pixel._36
    .pixel._39
    .pixel._42
    .pixel._45
    .pixel._48
    .pixel._51
    .pixel._54
    .pixel._57
    .pixel._60
    .pixel._63
    .pixel._66
    .pixel._69
    .pixel._72
  .row
    .pixel._75
    .pixel._78
    .pixel._81
    .pixel._84
    .pixel._87
    .pixel._90
    .pixel._93
    .pixel._96
    .pixel._99
    .pixel._102
    .pixel._105
    .pixel._108
    .pixel._111
    .pixel._114
    .pixel._117
    .pixel._120
    .pixel._123
    .pixel._126
    .pixel._129
    .pixel._132
    .pixel._135
    .pixel._138
    .pixel._141
    .pixel._144
    .pixel._147
  .row
    .pixel._150
    .pixel._153
    .pixel._156
    .pixel._159
    .pixel._162
    .pixel._165
    .pixel._168
    .pixel._171
    .pixel._174
    .pixel._177
    .pixel._180
    .pixel._183
    .pixel._186
    .pixel._189
    .pixel._192
    .pixel._195
    .pixel._198
    .pixel._201
    .pixel._204
    .pixel._207
    .pixel._210
    .pixel._213
    .pixel._216
    .pixel._219
    .pixel._222
  .row
    .pixel._225
    .pixel._228
    .pixel._231
    .pixel._234
    .pixel._237
    .pixel._240
    .pixel._243
    .pixel._246
    .pixel._249
    .pixel._252
    .pixel._255
    .pixel._258
    .pixel._261
    .pixel._264
    .pixel._267
    .pixel._270
    .pixel._273
    .pixel._276
    .pixel._279
    .pixel._282
    .pixel._285
    .pixel._288
    .pixel._291
    .pixel._294
    .pixel._297
  .row
    .pixel._300
    .pixel._303
    .pixel._306
    .pixel._309
    .pixel._312
    .pixel._315
    .pixel._318
    .pixel._321
    .pixel._324
    .pixel._327
    .pixel._330
    .pixel._333
    .pixel._336
    .pixel._339
    .pixel._342
    .pixel._345
    .pixel._348
    .pixel._351
    .pixel._354
    .pixel._357
    .pixel._360
    .pixel._363
    .pixel._366
    .pixel._369
    .pixel._372
  .row
    .pixel._375
    .pixel._378
    .pixel._381
    .pixel._384
    .pixel._387
    .pixel._390
    .pixel._393
    .pixel._396
    .pixel._399
    .pixel._402
    .pixel._405
    .pixel._408
    .pixel._411
    .pixel._414
    .pixel._417
    .pixel._420
    .pixel._423
    .pixel._426
    .pixel._429
    .pixel._432
    .pixel._435
    .pixel._438
    .pixel._441
    .pixel._444
    .pixel._447
  .row
    .pixel._450
    .pixel._453
    .pixel._456
    .pixel._459
    .pixel._462
    .pixel._465
    .pixel._468
    .pixel._471
    .pixel._474
    .pixel._477
    .pixel._480
    .pixel._483
    .pixel._486
    .pixel._489
    .pixel._492
    .pixel._495
    .pixel._498
    .pixel._501
    .pixel._504
    .pixel._507
    .pixel._510
    .pixel._513
    .pixel._516
    .pixel._519
    .pixel._522
  .row
    .pixel._525
    .pixel._528
    .pixel._531
    .pixel._534
    .pixel._537
    .pixel._540
    .pixel._543
    .pixel._546
    .pixel._549
    .pixel._552
    .pixel._555
    .pixel._558
    .pixel._561
    .pixel._564
    .pixel._567
    .pixel._570
    .pixel._573
    .pixel._576
    .pixel._579
    .pixel._582
    .pixel._585
    .pixel._588
    .pixel._591
    .pixel._594
    .pixel._597
  .row
    .pixel._600
    .pixel._603
    .pixel._606
    .pixel._609
    .pixel._612
    .pixel._615
    .pixel._618
    .pixel._621
    .pixel._624
    .pixel._627
    .pixel._630
    .pixel._633
    .pixel._636
    .pixel._639
    .pixel._642
    .pixel._645
    .pixel._648
    .pixel._651
    .pixel._654
    .pixel._657
    .pixel._660
    .pixel._663
    .pixel._666
    .pixel._669
    .pixel._672
  .row
    .pixel._675
    .pixel._678
    .pixel._681
    .pixel._684
    .pixel._687
    .pixel._690
    .pixel._693
    .pixel._696
    .pixel._699
    .pixel._702
    .pixel._705
    .pixel._708
    .pixel._711
    .pixel._714
    .pixel._717
    .pixel._720
    .pixel._723
    .pixel._726
    .pixel._729
    .pixel._732
    .pixel._735
    .pixel._738
    .pixel._741
    .pixel._744
    .pixel._747
  .row
    .pixel._750
    .pixel._753
    .pixel._756
    .pixel._759
    .pixel._762
    .pixel._765
    .pixel._768
    .pixel._771
    .pixel._774
    .pixel._777
    .pixel._780
    .pixel._783
    .pixel._786
    .pixel._789
    .pixel._792
    .pixel._795
    .pixel._798
    .pixel._801
    .pixel._804
    .pixel._807
    .pixel._810
    .pixel._813
    .pixel._816
    .pixel._819
    .pixel._822
  .row
    .pixel._825
    .pixel._828
    .pixel._831
    .pixel._834
    .pixel._837
    .pixel._840
    .pixel._843
    .pixel._846
    .pixel._849
    .pixel._852
    .pixel._855
    .pixel._858
    .pixel._861
    .pixel._864
    .pixel._867
    .pixel._870
    .pixel._873
    .pixel._876
    .pixel._879
    .pixel._882
    .pixel._885
    .pixel._888
    .pixel._891
    .pixel._894
    .pixel._897
  .row
    .pixel._900
    .pixel._903
    .pixel._906
    .pixel._909
    .pixel._912
    .pixel._915
    .pixel._918
    .pixel._921
    .pixel._924
    .pixel._927
    .pixel._930
    .pixel._933
    .pixel._936
    .pixel._939
    .pixel._942
    .pixel._945
    .pixel._948
    .pixel._951
    .pixel._954
    .pixel._957
    .pixel._960
    .pixel._963
    .pixel._966
    .pixel._969
    .pixel._972
  .row
    .pixel._975
    .pixel._978
    .pixel._981
    .pixel._984
    .pixel._987
    .pixel._990
    .pixel._993
    .pixel._996
    .pixel._999
    .pixel._1002
    .pixel._1005
    .pixel._1008
    .pixel._1011
    .pixel._1014
    .pixel._1017
    .pixel._1020
    .pixel._1023
    .pixel._1026
    .pixel._1029
    .pixel._1032
    .pixel._1035
    .pixel._1038
    .pixel._1041
    .pixel._1044
    .pixel._1047
  .row
    .pixel._1050
    .pixel._1053
    .pixel._1056
    .pixel._1059
    .pixel._1062
    .pixel._1065
    .pixel._1068
    .pixel._1071
    .pixel._1074
    .pixel._1077
    .pixel._1080
    .pixel._1083
    .pixel._1086
    .pixel._1089
    .pixel._1092
    .pixel._1095
    .pixel._1098
    .pixel._1101
    .pixel._1104
    .pixel._1107
    .pixel._1110
    .pixel._1113
    .pixel._1116
    .pixel._1119
    .pixel._1122
  .row
    .pixel._1125
    .pixel._1128
    .pixel._1131
    .pixel._1134
    .pixel._1137
    .pixel._1140
    .pixel._1143
    .pixel._1146
    .pixel._1149
    .pixel._1152
    .pixel._1155
    .pixel._1158
    .pixel._1161
    .pixel._1164
    .pixel._1167
    .pixel._1170
    .pixel._1173
    .pixel._1176
    .pixel._1179
    .pixel._1182
    .pixel._1185
    .pixel._1188
    .pixel._1191
    .pixel._1194
    .pixel._1197
  .row
    .pixel._1200
    .pixel._1203
    .pixel._1206
    .pixel._1209
    .pixel._1212
    .pixel._1215
    .pixel._1218
    .pixel._1221
    .pixel._1224
    .pixel._1227
    .pixel._1230
    .pixel._1233
    .pixel._1236
    .pixel._1239
    .pixel._1242
    .pixel._1245
    .pixel._1248
    .pixel._1251
    .pixel._1254
    .pixel._1257
    .pixel._1260
    .pixel._1263
    .pixel._1266
    .pixel._1269
    .pixel._1272
  .row
    .pixel._1275
    .pixel._1278
    .pixel._1281
    .pixel._1284
    .pixel._1287
    .pixel._1290
    .pixel._1293
    .pixel._1296
    .pixel._1299
    .pixel._1302
    .pixel._1305
    .pixel._1308
    .pixel._1311
    .pixel._1314
    .pixel._1317
    .pixel._1320
    .pixel._1323
    .pixel._1326
    .pixel._1329
    .pixel._1332
    .pixel._1335
    .pixel._1338
    .pixel._1341
    .pixel._1344
    .pixel._1347
  .row
    .pixel._1350
    .pixel._1353
    .pixel._1356
    .pixel._1359
    .pixel._1362
    .pixel._1365
    .pixel._1368
    .pixel._1371
    .pixel._1374
    .pixel._1377
    .pixel._1380
    .pixel._1383
    .pixel._1386
    .pixel._1389
    .pixel._1392
    .pixel._1395
    .pixel._1398
    .pixel._1401
    .pixel._1404
    .pixel._1407
    .pixel._1410
    .pixel._1413
    .pixel._1416
    .pixel._1419
    .pixel._1422
  .row
    .pixel._1425
    .pixel._1428
    .pixel._1431
    .pixel._1434
    .pixel._1437
    .pixel._1440
    .pixel._1443
    .pixel._1446
    .pixel._1449
    .pixel._1452
    .pixel._1455
    .pixel._1458
    .pixel._1461
    .pixel._1464
    .pixel._1467
    .pixel._1470
    .pixel._1473
    .pixel._1476
    .pixel._1479
    .pixel._1482
    .pixel._1485
    .pixel._1488
    .pixel._1491
    .pixel._1494
    .pixel._1497
  .row
    .pixel._1500
    .pixel._1503
    .pixel._1506
    .pixel._1509
    .pixel._1512
    .pixel._1515
    .pixel._1518
    .pixel._1521
    .pixel._1524
    .pixel._1527
    .pixel._1530
    .pixel._1533
    .pixel._1536
    .pixel._1539
    .pixel._1542
    .pixel._1545
    .pixel._1548
    .pixel._1551
    .pixel._1554
    .pixel._1557
    .pixel._1560
    .pixel._1563
    .pixel._1566
    .pixel._1569
    .pixel._1572
  .row
    .pixel._1575
    .pixel._1578
    .pixel._1581
    .pixel._1584
    .pixel._1587
    .pixel._1590
    .pixel._1593
    .pixel._1596
    .pixel._1599
    .pixel._1602
    .pixel._1605
    .pixel._1608
    .pixel._1611
    .pixel._1614
    .pixel._1617
    .pixel._1620
    .pixel._1623
    .pixel._1626
    .pixel._1629
    .pixel._1632
    .pixel._1635
    .pixel._1638
    .pixel._1641
    .pixel._1644
    .pixel._1647
  .row
    .pixel._1650
    .pixel._1653
    .pixel._1656
    .pixel._1659
    .pixel._1662
    .pixel._1665
    .pixel._1668
    .pixel._1671
    .pixel._1674
    .pixel._1677
    .pixel._1680
    .pixel._1683
    .pixel._1686
    .pixel._1689
    .pixel._1692
    .pixel._1695
    .pixel._1698
    .pixel._1701
    .pixel._1704
    .pixel._1707
    .pixel._1710
    .pixel._1713
    .pixel._1716
    .pixel._1719
    .pixel._1722
  .row
    .pixel._1725
    .pixel._1728
    .pixel._1731
    .pixel._1734
    .pixel._1737
    .pixel._1740
    .pixel._1743
    .pixel._1746
    .pixel._1749
    .pixel._1752
    .pixel._1755
    .pixel._1758
    .pixel._1761
    .pixel._1764
    .pixel._1767
    .pixel._1770
    .pixel._1773
    .pixel._1776
    .pixel._1779
    .pixel._1782
    .pixel._1785
    .pixel._1788
    .pixel._1791
    .pixel._1794
    .pixel._1797
  .row
    .pixel._1800
    .pixel._1803
    .pixel._1806
    .pixel._1809
    .pixel._1812
    .pixel._1815
    .pixel._1818
    .pixel._1821
    .pixel._1824
    .pixel._1827
    .pixel._1830
    .pixel._1833
    .pixel._1836
    .pixel._1839
    .pixel._1842
    .pixel._1845
    .pixel._1848
    .pixel._1851
    .pixel._1854
    .pixel._1857
    .pixel._1860
    .pixel._1863
    .pixel._1866
    .pixel._1869
    .pixel._1872